<div class="signup">
    <h1>Sign Up</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <div class="form-group">
        <label for="re-password">Confirm Password:</label>
        <input type="password" id="re-password" formControlName="rePassword">
      </div>
      <div formGroupName="name">
            <div class="form-group">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" formControlName="lastName">
            </div>
      </div>
      
      <div class="form-actions">
        <button type="submit" class="login-button">Sign Up</button>
        <button type="button" [routerLink]="['/login']" class="signup-button">Back to Login</button>
      </div>
    </form>
  </div>
  